include update/update*to*
include update/*py
include update/README.markdown
include doc/*markdown
include *py
include README.markdown
include LICENSE
include MANIFEST.in
include version
include NEWS
include yokadi
